@using UniversityMs.Models
@using UniversityMs.Helpers
@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="box-body" style="margin:80px;">
    <a type="submit" asp-action="Create" class="btn btn-primary" style="margin-bottom:10px;">+Add User</a>
    <div class="table-responsive mb-0">
        <table class="table no-border" style="color: rgb(165, 63, 255);">
            <thead>
                <tr class="text-uppercase bg-lightest">
                    <th style="min-width: 250px">
                        #
                    </th>
                    <th style="min-width: 50px">
                        <span>Profile Image</span>
                    </th>
                    <th style="min-width: 170px">
                        <span>First Name</span>
                    </th>
                    <th style="min-width: 170px">
                        <span>Last Name</span>
                    </th>
                    <th style="min-width: 170px">
                        <span>Phone Number</span>
                    </th>
                    <th style="min-width: 170px">
                        <span>Email</span>
                    </th>
                    <th style="min-width: 170px">
                        <span>Adress</span>
                    </th>
                    <th style="min-width: 170px">
                        <span>Setttings</span>
                    </th>
                    <th style="min-width: 120px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr>
                    <td>

                        <span class=" fw-600 d-block fs-16" style="color: rgb(165, 63, 255);">
                            @count
                        </span>
                    </td>
                    <td>

                        <span class="text-dark fw-600 d-block fs-16">
                            <img src="~/assets/img/@user.ProfileImage" />
                        </span>
                    </td>
                    <td>
                        <span class="text-dark fw-600 d-block fs-16">
                            @user.FirstName
                        </span>
                    </td>
                    <td>
                        <span class="text-dark fw-600 d-block fs-16">
                            @user.LastName
                        </span>
                    </td>
                    <td>
                        <span class="text-dark fw-600 d-block fs-16">
                            @user.PhoneNum
                        </span>
                    </td>
                    <td>
                        <span class="text-dark fw-600 d-block fs-16">
                            @user.Email
                        </span>
                    </td>
                    <td>
                        <span class="text-dark fw-600 d-block fs-16">
                            @user.Adress
                        </span>
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@user.Id">Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                    </td>
                </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>

